<p id="notice"><%= notice %></p>

<p>
  <strong>Taken steps:</strong>
  <%= @step.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @step.date %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
