<h1>Exercises#show</h1>


<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @exercise.energy_burned %>
</p>

<p>
  <strong>Date:</strong>
  <%= @exercise.date %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
